.loader-style {
    color: var(--txt-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.app-text {
    margin-top: 20px;
}